@{
    Layout = null;
    ViewData["Title"] = "SIAWEB - Almacenes de Depósito";
}

<style>
    .authentication-wrapper .auth-cover-illustration {
        z-index: 1;
        max-inline-size: 100rem !important;
    }
</style>

<!doctype html>
<html lang="es-PE"
      class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/assets/"
      data-template="vertical-menu-template"
      data-style="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    @{
        string title = ViewData["title"] as string ?? "";
        string appName = TempData.Peek("appName") as string ?? "";
        string productPage = TempData.Peek("productPage") as string ?? "";
    }
    <title>@title | Hard System Web SAC</title>
    <meta name="description" content="" />
    <!-- Canonical SEO -->
    <link rel="canonical" href='@productPage'>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/img/favicon/favicon.ico" />

    <!-- Core Styles -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="~/assets/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <!--
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <!-- Vendor -->
    <link rel="stylesheet" href="~/assets/vendor/libs/&#64;form-validation/form-validation.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/assets/vendor/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="~/assets/vendor/js/template-customizer-hsw.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="position-relative">
        <div class="authentication-wrapper authentication-basic container-p-y p-4 p-sm-0">
            <div class="authentication-inner py-6">
                <!-- Login -->
                <div class="card p-md-7 p-1">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center mt-5">
                        <a href="#" class="app-brand-link gap-2">

                            <span class="app-brand-logo demo">
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50.000mm" height="20.000mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                viewBox="0 0 7967 1674"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <defs>
                                    <!-- Filtro para resplandor de neón -->
                                    <filter id="neonGlow" x="-50%" y="-50%" width="200%" height="200%">
                                      <feGaussianBlur in="SourceGraphic" stdDeviation="15" result="blur"/>
                                      <feMerge>
                                        <feMergeNode in="blur"/>
                                        <feMergeNode in="SourceGraphic"/>
                                      </feMerge>
                                    </filter>

                                    <style type="text/css">
                                      <![CDATA[
                                        .fil3 {fill:#00174C;fill-rule:nonzero}
                                        .fil1 {fill:#001A62;fill-rule:nonzero}
                                        .fil2 {fill:#002C7F;fill-rule:nonzero}
                                        .fil5 {fill:#96949A;fill-rule:nonzero}
                                        .fil0 {fill:#D3D4D8;fill-rule:nonzero}
                                        .fil4 {fill:#DA0000;fill-rule:nonzero}
                                        .fil8 {fill:#E7E9EB;fill-rule:nonzero}
                                        .fil6 {fill:red;fill-rule:nonzero}
                                        .fil7 {fill:#FF2F2F;fill-rule:nonzero}
                                      ]]>
                                    </style>
                                  </defs>

                                  <g id="Capa_x0020_1">
                                    <metadata id="CorelCorpID_0Corel-Layer"/>
                                    <g id="_393282080">
                                      <polygon class="fil0" points="1016,399 1016,961 1493,778 1493,282 1493,282 "/>
                                      <polygon class="fil1" points="1591,258 1591,741 2032,572 2032,150 "/>
                                      <polygon class="fil2" points="1120,171 1493,240 1591,258 1591,258 2032,150 1591,85 1576,83 1576,83 1493,99 "/>
                                      <path class="fil3" d="M1016 1099l0 575 -3 -2c-24,-33 -193,-259 -474,-453l0 -320 477 199z"/>
                                      <path class="fil4" d="M442 860l0 297c-129,-78 -277,-145 -442,-186l0 -295 442 184z"/>
                                      <polygon class="fil5" points="539,282 539,778 1016,961 1016,399 539,282 "/>
                                      <polygon class="fil3" points="0,150 0,572 442,741 442,258 "/>
                                      <path class="fil6" d="M2032 676l0 295c-165,41 -313,108 -442,186l0 -298 442 -184z"/>
                                      <path class="fil1" d="M1493 900l0 320c-281,194 -450,419 -474,453l-3 2 0 -575 477 -199z"/>
                                      <polygon class="fil2" points="0,150 442,258 539,240 912,171 539,99 456,83 456,83 442,85 "/>
                                      <polygon class="fil7" points="569,66 1016,148 1463,66 1016,0 1016,0 "/>
                                      <polygon class="fil8" points="539,282 1016,399 1493,282 1021,191 1021,191 1016,192 1011,191 1011,191 "/>
                                    </g>
                                  </g>

                                  <!-- Animación de luces de neón parpadeando en las formas -->
                                  <g id="_393287144">
                                    <path class="fil1" d="M2651 640l135 -274 133 274 -269 0zm578 218l-317 -600 -45 -85 -149 0 -51 100 -306 598 -36 70 168 0 104 -196 373 0 104 196 198 0 -44 -83z" filter="url(#neonGlow)">
                                      <animate attributeName="opacity" values="0.3;1;0.3" keyTimes="0;0.5;1" dur="5s" repeatCount="indefinite"/>
                                    </path>
                                    <polygon class="fil1" points="3590,815 3590,173 3410,173 3410,942 4158,942 4158,815" filter="url(#neonGlow)">
                                      <animate attributeName="opacity" values="0.3;1;0.3" keyTimes="0;0.5;1" dur="5s" repeatCount="indefinite"/>
                                    </polygon>
                                    <path class="fil1" d="M4849 787c-36,18 -90,28 -162,28l-225 0 0 -515 225 0c55,0 98,5 131,15 33,10 61,28 84,52 42,44 63,107 63,190 0,114 -39,191 -116,230zm255 -428c-37,-72 -94,-123 -171,-154 -54,-21 -131,-32 -231,-32l-420 0 0 768 420 0c76,0 138,-6 187,-19 49,-13 92,-33 128,-63 87,-69 131,-170 131,-303 0,-75 -15,-141 -44,-198z" filter="url(#neonGlow)">
                                      <animate attributeName="opacity" values="0.3;1;0.3" keyTimes="0;0.5;1" dur="5s" repeatCount="indefinite"/>
                                    </path>
                                    <path class="fil1" d="M5494 815l0 -211 396 0 0 -122 -396 0 0 -182 514 0c4,0 8,0 11,1l52 0 0 -128 -58 0c-1,0 -3,0 -4,0l-693 0 0 768 770 0 0 -127 -591 0z" filter="url(#neonGlow)">
                                      <animate attributeName="opacity" values="0.3;1;0.3" keyTimes="0;0.5;1" dur="5s" repeatCount="indefinite"/>
                                    </path>
                                    <path class="fil1" d="M6952 609c-16,-30 -37,-54 -65,-73 -27,-18 -58,-31 -92,-41 -35,-10 -80,-17 -136,-23l-94 -9c-63,-6 -105,-12 -124,-17 -37,-10 -56,-30 -56,-59 0,-18 7,-34 22,-49 15,-15 34,-26 57,-34 32,-10 70,-15 112,-15 84,0 158,18 223,53 10,5 19,11 29,17l0 0 63 37 75 -138 -78 -30c-68,-27 -124,-45 -170,-55 -45,-10 -94,-15 -147,-15 -125,0 -219,28 -282,84 -48,42 -72,96 -72,161 0,39 9,74 28,105 21,34 50,59 86,76 26,12 51,21 77,26 26,5 70,11 132,17l93 9c62,6 103,13 124,21 29,11 44,29 44,54 0,17 -6,33 -19,49 -12,16 -29,28 -50,37 -38,17 -83,25 -137,25 -49,0 -101,-8 -155,-24 -26,-7 -48,-16 -68,-24l0 0c-11,-5 -21,-10 -29,-15l-84 -43 -63 134 150 62 0 0c81,28 163,42 245,42 61,0 117,-7 170,-21 71,-18 123,-47 157,-85 37,-42 56,-90 56,-144 0,-34 -8,-66 -24,-96z" filter="url(#neonGlow)">
                                      <animate attributeName="opacity" values="0.3;1;0.3" keyTimes="0;0.5;1" dur="5s" repeatCount="indefinite"/>
                                    </path>
                                    <path class="fil1" d="M7345 641l135 -274 133 274 -269 0zm578 218l-318 -602 -44 -83 -149 0 -51 100 -302 591 -4 8 0 0 -36 70 168 0 104 -196 373 0 104 196 198 0 -44 -83z" filter="url(#neonGlow)">
                                      <animate attributeName="opacity" values="0.3;1;0.3" keyTimes="0;0.5;1" dur="5s" repeatCount="indefinite"/>
                                    </path>
                                  </g>
                                </svg>

                            </span>

                        </a>
                    </div>
                    <!-- /Logo -->

                    <div class="card-body mt-1">
                        <h4 class="mb-1">Bienvenidos a la Consulta! 👋</h4>
                        <p class="mb-5">Por favor ingresar</p>

                        <form id="formAuthentication" class="mb-3" method="POST">
                            <div class="form-floating form-floating-outline mb-5">
                                <input type="text"
                                       class="form-control"
                                       id="txtNroDoc"
                                       placeholder="Ingrese RUC"
                                       autofocus autocomplete="off" />
                                <label for="txtNroDoc">RUC</label>
                            </div>
                            <div class="mb-5">
                                <div class="form-password-toggle">
                                    <div class="input-group input-group-merge">
                                        <div class="form-floating form-floating-outline">
                                            <input type="password"
                                                   id="txtClave"
                                                   class="form-control"
                                                   name="txtClave"
                                                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                   aria-describedby="password" />
                                            <label for="txtClave">Password</label>
                                        </div>
                                        <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line"></i></span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary d-grid w-100" id="btnAceptar">
                                Iniciar sesión
                            </button>

                            <div class="diverror" style="text-align:center"><span id="spnValida" class="MensajeError"></span></div>
                            <input id="hdfRaiz" type="hidden" value="@Url.Content("~")" />
                            <input id="hdfToken" type="hidden" value="@ViewBag.Token" />
                            <input id="hdfIP" type="hidden" value="" />

                        </form>

                    </div>
                </div>
                <!-- /Login -->
            </div>
        </div>
    </div>

    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="~/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="~/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <!-- endbuild -->

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/scripts/hsw/Principal.js?v=1.000"></script>
    <script src="~/scripts/Clientes/Clientes.js?v=1.002"></script>

</body>
</html>
