<div class="row gy-4">
    <!--/ Tarjeta de gamificación -->
    <!-- Estaditisitcas -->
    <div class="col-lg-2 col-sm-6">
        <div class="card h-100">
            <div class="card-body text-center">
                <div class="card-info mt-3 pt-1 mt-lg-1 mt-xl-4">
                    <h6>Cantidad de CPE emitidos</h6>
                    <div class="badge bg-label-secondary rounded-pill">0</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card h-100">
            <div class="card-body text-center">
                <div class="card-info mt-3 pt-1 mt-lg-1 mt-xl-4">
                    <h6>Cantidad de CPE emitidos</h6>
                    <div class="badge bg-label-secondary rounded-pill">0</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card h-100">
            <div class="card-body text-center">
                <div class="card-info mt-3 pt-1 mt-lg-1 mt-xl-4">
                    <h6>Cantidad de CPE emitidos</h6>
                    <div class="badge bg-label-secondary rounded-pill">0</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card h-100">
            <div class="card-body text-center">
                <div class="card-info mt-3 pt-1 mt-lg-1 mt-xl-4">
                    <h6>Cantidad de CPE emitidos</h6>
                    <div class="badge bg-label-secondary rounded-pill">0</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card h-100">
            <div class="card-body text-center">
                <div class="card-info mt-3 pt-1 mt-lg-1 mt-xl-4">
                    <h6>Cantidad de CPE emitidos</h6>
                    <div class="badge bg-label-secondary rounded-pill">0</div>
                </div>
            </div>
        </div>
    </div>




</div>

<script src="~/Scripts/hsw/DBDefault.js?v=1.003"></script>