<div id="lista-lst" class="card h-100 w-100">
    <div class="card-header bg-primary">
        <h5 class="card-title text-white m-0 me-2">Tipos de Cambio Promedio</h5>
    </div>
    <div class="card-body">
        <div class="row mt-3">
            <div class="col-12 col-md-3">
                <div class="form-floating form-floating-outline">
                    <select class="form-select" tabindex="0" id="cboPeriodos"></select>
                    <label for="cboPeriodos">Año *</label>
                    <div class="invalid-feedback text-start">Por favor seleccione un año</div>
                </div>
            </div>
        </div>
        <div class="card-datatable">
            <table id="tabla" class="table table-bordered table-striped table-hover table-responsive table-sm">
                <thead>
                    <tr style="background-color:#2F75B5;color:white;">
                        <th class="text-center">Acciones</th>
                        <th class="text-center">Periodo</th>
                        <th class="text-center">Tipo de Cambio</th>
                        <th class="text-center">Fecha Creación</th>
                        <th class="text-center">Fecha Ultima Modificación</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ListaAdiMod" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white" id="modalTitulo">Tipo de Cambio Promedio</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-4 g-3">
                    <div class="col-6 col-md-4">
                        <div class="form-floating form-floating-outline">
                            <input class="form-control" type="text" id="txtPeriodo" disabled />
                            <label for="txtPeriodo">Periodo *</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-4 g-3">
                    <div class="col-6 col-md-6">
                        <div class="form-floating form-floating-outline">
                            <input type="text" id="txtTipCam" name="txtTipCam" class="form-control" placeholder=¨Promedio *" autocomplete="off" />
                            <label for="txtTipCam">Promedio *</label>
                            <div class="invalid-feedback text-start">Por favor ingrese tipo de cambio promedio</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="d-grid gap-3 col-lg-3">
                    <button class="btn btn-outline-secondary" type="reset" data-bs-dismiss="modal">Cancelar</button>
                </div>
                <div class="d-grid gap-3 col-lg-3">
                    <button class="btn btn-primary" type="button" id="btnGuardarLista">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->
<script type="text/javascript" src="~/scripts/ModTablas/ManteTabCamP.js?v=1.0002"></script>